<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delivery Company</title>
	<link href="../../admin-style/css/bootstrap.css" rel="stylesheet" />
    <link href="../../admin-style/css/font-awesome.css" rel="stylesheet" />
    <link href="../../admin-style/css/custom.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
         <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="adjust-nav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="/img/logo.png" />
                    </a>
                </div>
                <span class="logout-spn" >
                  	<a href="#" style="color:#fff;">LOGOUT</a>  
                </span>
            </div>
        </div>
	</div>
    <nav class="navbar-default navbar-side" role="navigation">
    	<div class="sidebar-collapse">
        	<ul class="nav" id="main-menu">
            	<li>
            		<a href="/admin">Dashboard</a>
            	</li>
                <li>
                	<a href="/admin/products">Products</a>
                </li>
                <li>
                	<a href="/admin/categories">Categories</a>
                </li>
                <li>
                	<a href="/admin/shops">Shops</a>
                </li>
                <li class="active-link">
                	<a href="/admin/delivery-companies">Delivery Company</a>
                </li>
                <li>
                    <a href="#">Pending Order</a>
                </li>
                <li>
                    <a href="#">Order History</a>
                </li>
                <li>
                    <a href="/admin/customers">Customer</a>
                </li>
                <li>
                    <a href="#">Balance Flow</a>
                </li>
                <li>
                 	<a href="/admin/blank-page">Ui test</a>
                </li>
            </ul>
		</div>
	</nav>
    <div id="page-wrapper" >
    	<div id="page-inner">
        	<div class="row">
        		<div class="col-md-12">
                	<h2>Delivery Company List</h2>
                </div>
        	</div>
        	<hr/>
        	<div class="row">
        		<div class="col-lg-8 col-md-12">
        			<a class="btn btn-success" href="/admin/delivery-companies/add-delivery-company">Add Delivery Company</a>
        		</div>
        		<form th:action="@{/admin/delivery-companies/search}" method="get">
        			<div class="col-lg-3 col-md-12">
	        			<input class="form-control" type="text" id="search" name="search" placeholder="Search by Company Name...">
        			</div>
        			<div class="col-lg-1 col-md-12">
        				<button class="btn btn-info" type="submit">Search</button>
        			</div>
        		</form>
        	</div>
        	<div class="row">
            	<div class="col-lg-12 col-md-12">
                	<h3>All Delivery Company List</h3>
                    	<table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Company Name</th>
                                    <th>Delivery Scope</th>
                                    <th>Company Email</th>
                                    <th>Building Name</th>
                                    <th>City</th>
                                    <th>Street</th>
                                    <th>Edit, Delete and Add Address</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="deliveryCompany : ${deliveryCompanies}">
                                    <td th:text="${deliveryCompany.deliveryCompanyId}"></td>
                                    <td th:text="${deliveryCompany.companyName}"></td>
                                    <td th:text="${deliveryCompany.deliveryScope}"></td>
                                    <td th:text="${deliveryCompany.deliveryCompanyEmail}"></td>
                                    <td th:if="${deliveryCompany.deliveryCompanyAddress!=null}" th:text="${deliveryCompany.deliveryCompanyAddress.buildingName}"></td>
                                    <td th:unless="${deliveryCompany.deliveryCompanyAddress!=null}"></td>
	                                <td th:if="${deliveryCompany.deliveryCompanyAddress!=null}" th:text="${deliveryCompany.deliveryCompanyAddress.city}"></td>
	                                <td th:unless="${deliveryCompany.deliveryCompanyAddress!=null}"></td>
	                                <td th:if="${deliveryCompany.deliveryCompanyAddress!=null}" th:text="${deliveryCompany.deliveryCompanyAddress.street}"></td>
	                                <td th:unless="${deliveryCompany.deliveryCompanyAddress!=null}"></td>
                                    <td th:if="${deliveryCompany.deliveryCompanyAddress==null}">
                                    	<a class="btn btn-info" th:href="@{/admin/delivery-companies/edit(id=${deliveryCompany.deliveryCompanyId})}">Edit</a>
                                    	<a class="btn btn-danger" th:href="@{/admin/delivery-companies/delete(id=${deliveryCompany.deliveryCompanyId})}" onclick="return confirm('Are you sure?')">Delete</a>
                                    	<a class="btn btn-warning" th:href="@{/admin/delivery-companies/add-address(id=${deliveryCompany.deliveryCompanyId})}">Add Address</a>
                                    </td>
                                    <td th:unless="${deliveryCompany.deliveryCompanyAddress==null}">
                                    	<a class="btn btn-info" th:href="@{/admin/delivery-companies/edit(id=${deliveryCompany.deliveryCompanyId})}">Edit</a>
                                    	<a class="btn btn-danger" th:href="@{/admin/delivery-companies/delete(id=${deliveryCompany.deliveryCompanyId})}" onclick="return confirm('Are you sure?')">Delete</a>
                                    	<a class="btn btn-warning" th:href="@{/admin/delivery-companies/add-address(id=${deliveryCompany.deliveryCompanyId})}">Edit Address</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                </div>
        	</div>
		</div>
	</div>
    <div class="footer">
    	<div class="row">
            <div class="col-lg-12" >
            	&copy;  2014 yourdomain.com | Design by: <a href="http://binarytheme.com" style="color:#fff;"  target="_blank">www.binarytheme.com</a>
        	</div>
        </div>
    </div>
    <script src="../admin-style/js/jquery-1.10.2.js"></script>
    <script src="../admin-style/js/bootstrap.min.js"></script>
    <script src="../admin-style/js/custom.js"></script>  
</body>
</html>
